.dme-menu-item {
  align-items: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: rgb(32, 33, 37) !important;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 25.5938px;
  line-height: 25.6px;
  margin-bottom: 0px;
  margin-left: 12px;
  margin-right: 5px;
  margin-top: 0px;
  outline-color: rgb(32, 33, 37);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  pointer-events: auto;
  unicode-bidi: isolate;
  user-select: none;
  text-decoration: none !important;
  gap: 8px;
}

.dme-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
